name: Destroy Infrastructure

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4

      - name: Terraform Destroy
        working-directory: ./terraform
        run: terraform destroy -auto-approve

      - name: Cleanup Docker
        run: |
          docker stop mi-app prometheus grafana 2>/dev/null || true
          docker rm mi-app prometheus grafana 2>/dev/null || true
          docker network rm app-network 2>/dev/null || true
          docker volume rm prometheus-data grafana-data 2>/dev/null || true
          docker system prune -f || true
